<section class="content">
  <h1>{{title}}</h1>
  <p>Just a little mash up of the Strava API and Google Maps.</p>
  <p>Browse and view Strava segments in your local area.</p>
  <p>This site requires you use geolocation features to determine your location.</p>
  <a href="#" id="btnLoc" title="Find my location">Find my location and local segments</a>
</section>

<section class="sidebar">
  <h1>Select a KOM</h1>
  <article class="segment">
    <p class="distance"></p>
    <p class="climb"></p>
    <p class="link"></p>
  </article>
  <section id="feedback">
  </section>
</section>